/* github.com/plasticneko */
/* bulma css framework by jeremy thomas (github.com/jgthms | bulma.io) */

h1 {
    img {
        max-width: 80%;
    }
}

.content {
    padding-bottom: 50px;
}

.content p {
    padding-bottom: 15px;
}

.footer-custom {
    padding: 30px;
}

.single-content p {
    padding-bottom: 15px;
}

.single-content {
    padding-bottom: 50px;
}

.header-content {
    padding-bottom: 20px;
}

.subheader-content {
    padding-bottom: 20px;
}


/* colour changes to the bulma framework */
a {
    color: #ff3860;
}


.tabs li.is-active a {
    border-bottom-color: #ff3860;
    color: #ff3860;
}

/* input select  */
.input:focus, .textarea:focus, input[type]:focus {
    border: 1px solid #ff3860;
    outline: none !important;
}

.sns-buttons {
    margin-top: 30px;
}

.textarea {
    height: 500px;
    resize: none; /* Remove this if you want the user to resize the textarea */
}

#result {
    height: 500px;
    overflow-y: scroll;
}